@font-face {
    font-family: normalText;
    src: url(../fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: logoFont;
    src: url(../fonts/Parisienne/Parisiennefont-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: normalText, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.content {
    max-width: 1250px;
    margin: auto;
    padding: 0px 30px;
}

.navbar {
    position: fixed;
    z-index: 100;
    width: 100%;
    padding: 25px 0;
    background-color: white;
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 10px 0;
    background-color: rgb(241, 241, 241);
}



.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    color: black;
    font-size: 30px;
    font-family: logoFont, sans-serif;
}

.navbar .menu-links {
    display: inline-flex;
}

.menu-links li {
    list-style: none;
}

.menu-links li a {
    color: black;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 50px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu-links li a:hover {
    color: darkgrey;
}

#bannerVideo {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.picture {
    width: 70%;
    height: auto;
    border: 5px solid rgb(241, 241, 241);
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgb(182, 182, 182);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.story-area, .info-area, .rsvp-area, .contact-area {
    padding: 40px 0;
    margin: auto;
}

.float-container {
    padding: 20px;
}

.float-child {
    display: block;
    width: 50%;
    height: auto;
    float: left;
    padding: 20px;
}

.centerInfo {
    display: flex;
    margin: auto;
    width: 50%;
    height: auto;
    padding: 20px;
}

.infoCenter {
    text-align: center;
    margin: auto;
}


h1 {
    padding-top: 30px;
    font-size: 35px;
    text-align: center;
}

h2 {
    padding-top: 20px;
    padding-left: 10px;
    font-size: 24px;
    text-align: center;
}

#contactInfo {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.indent {
    padding-top: 20px;
    text-align: center;
}

.caption {
    padding-top: 10px;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.textNormal {
    padding-top: 20px;
    text-align: justify;
}

.icon {
    position: relative;
    top: -30px;
    right: -30px;
    color: black;
    width: 20px;
    cursor: pointer;
    display: none;
}

.icon.cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;

}

#map {
    height: 500px;
    width: 55%;
    z-index: 1;
}

.weatherwidget-io {
    width: 55%;
}

.border {
    border: 5px solid rgb(241, 241, 241);
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgb(182, 182, 182);
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    padding: 15px;
}

footer {
    margin-top: 40px;
    padding: 20px;
    background-color: rgb(241, 241, 241);
}

#useHash {
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
}

#hashtag {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 2px;
    color: #797979;
}

#copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
}

/* RSVP */
.rsvp-area{
    text-align: center;
}
#typepwd{
    padding: 10px;
    width: 80%;
    outline: none;
    text-align: center;
    border: none;
    /* ... mutta jätetään silti alaviiva */
    border-bottom: 1px solid slategray;
}
.rsvp-nappi {
    padding: 10px;
    width: 100px;
    height: 50px;
    border: none;
    font-size: 15px;
    text-align: center;
}
.rsvp-nappi:hover{
    background-color: #f6bbc2;
    box-shadow: 1px 1px 1px rgb(182, 182, 182);
    color: white;
}
/* 2 alempaa pitäs muokata viel*/
#radionapit{
    display: inline-block;
}
.rb-tyylitys{
    padding: 20px;
    font-size: 20px;
    margin: 30px;
}
#msg{
    padding: 10px;
    width: 80%;
    outline: none;
    text-align: center;
    border: none;
    border-bottom: 1px solid slategray;

}
#spostibtn{
    margin: 20px;
}

/* RSVP-tyylittely päättyy */

@media (max-width: 1000px) {
    #bannerVideo {
        margin-top: 40px;
    }

    body.disabledScroll {
        overflow: hidden;
    }

    .icon {
        display: block;
    }

    .icon.hide {
        display: none;
    }

    .navbar .menu-links {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        max-width: 350px;
        background-color: rgb(241, 241, 241);
        display: block;
        padding: 40px 0;
        text-align: left;
        transition: all 0.3s ease;
    }

    .navbar .menu-links.active {
        left: 0%;
    }

    .navbar .menu-links li {
        margin-top: 15px;
        padding: 15px;
    }

    .navbar .menu-links li a {
        font-size: 20px;
    }

    .float-container {
        padding: 20px;
    }

    .float-child {
        margin: auto;
        width: 100%;
        padding: 20px;
    }

    .centerInfo {
        margin: auto;
        width: 100%;
        padding: 20px;
    }
}

@media (max-width: 415px) {
    #myBtn {
        padding: 5px;
        bottom: 10px;
        right: 10px;
    }

    #bannerVideo {
        margin-top: 100px;
    }

    .picture {
        width: 100%;
    }

    body.disabledScroll {
        overflow: hidden;
    }

    .navbar .menu-links li a {
        font-size: 18px;
    }

    .navbar .logo {
        color: black;
        font-size: 24px;
    }

    .navbar .menu-links {
        max-width: 300px;
    }

    .story-area, .info-area, .rsvp-area, .contact-area {
        padding: 40px 0;
        margin: auto;
    }

    .float-container {
        padding: 10px;
    }

    .float-child {
        margin: auto;
        width: 100%;
        padding: 10px;
    }

    .centerInfo {
        margin: auto;
        width: 100%;
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    .content p {
        font-size: 18px;

    }

    #map {
        height: 250px;
        width: 250px;
        z-index: 1;
    }
/* RSVP */
    #radionapit{
        display: inline-block;
    }
    .rb-tyylitys{
        padding: 20px;
        font-size: 20px;
        margin: 30px;
    }
}


