* {
    box-sizing: border-box;
}

#map {
    height: 500px;
    width: 500px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background: #C9E2CB;
    width: 100%;
    z-index: 100;
}

.logo {
    color: #6b8b6d;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    color: #6b8b6d;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    color: #9cad9d;
}

.menu {
    color: #6b8b6d;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

main {
    margin: 80px 50px 50px 50px;
}

.story-area, .info-area, .rsvp-area {
    width: 100%;
    height: 700px;
}

.text-area {
    padding-top: 40px;
}

/*Navigaatio pysyy yläreunassa*/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

@media (max-width: 800px) {
    header {
        padding: 0 20px;
    }

    .menu {
        display: block;
    }

    nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #C9E2CB;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }

    nav.active {
        left: 0;
    }

    nav.hide {
        left: -100%;
    }

    nav ul {
        display: block;
        text-align: center;
    }

    nav ul li a {
        border-bottom: 1px solid #6b8b6d;
    }
}

.weatherwidget-io {
    width: 300px;
    margin: 10px;
}

.border {
    border: 1px solid black;
}